@font-face {
    font-family: 'SFUIDisplay';
    src: local('SF UI Text'),
        url('../fonts/SFUIDisplay-Black.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: local('SF UI Text'),
        url('/fonts/SFUIDisplay-Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: local('SF UI Text'),
        url('/fonts/SFUIDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Text';
    src: local('SF UI Text'),
        url('/fonts/SFUIDisplay-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}