.about {
  display: flex;
  gap: 10px;
}

.about_warp-right {
  width: 500px;
  flex-shrink: 0;
}

.about {
  background-color: rgb(255, 165, 47);
  color: rgb(10, 10, 10);
  padding: 10px;
}

.about_button {
  display: block;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(253, 232, 162);
  text-decoration: none;
  margin-top: auto;
  margin-right: auto;
}

.about_wrap-left {
  display: flex;
  flex-direction: column;
}

.teachers_title{
 text-align: center;
 background-color: #f79a0f;
}

.teachers_card {
  width: 350px;
  padding: 15px;
  background-color: aliceblue;
  color: black;
  box-shadow: 1px 2px 20px 5px #d7d7d7;
}

.teachers__name {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.teachers__job {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  font-style: italic;
}

.teachers_wrapper {
  margin: 0;
  padding: 20px 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  list-style-type: none;
}

.teachers__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.trial{
  position: relative;
  z-index: 0;
}
.trial__shadow{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}
.trial__info{
  background-image:url(../image/targetfortrial.jpg);
  box-shadow: 1px 2px 20px 5px #1f1e1e;
  background-size: 100%;
  height: 400px;
  background-repeat: no-repeat;
}


.trial__info{
  padding-top: 90px;
  color: aliceblue;
  text-align: center;
}

.trial__textinfo{
  position: relative;
  z-index: 10;
}

.facts__title{
  text-align: center;
  background-color: #f79a0f;
}
.facts__item{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.facts__img {
  transition: outline 0.3s;
  outline: 2px solid #f79a0f;
 }

 .inventory__title{
  text-align: center;
  background-color: #f79a0f;
}
.inventory__item:hover {
  transform: scale(1.03);
}
.inventory__item {
  transition: box-shadow 0.3s;
  box-shadow: 0 8px 16px 0
 rgba(0,0,0,0.2);
 width: 300px;
 }
 .inventory__img {
  transition: outline 0.3s;
  outline: 2px solid #f79a0f;
 }
 .inventory__item{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
 }
 /* ставятся столбы колонны */
 .facts__item {
  padding: 15px;
  background-color: aliceblue;
  color: black;
  box-shadow: 1px 2px 20px 5px #d7d7d7;
}

.facts__heading {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.facts__text {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  font-style: italic;
}

.facts__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.facts__list{
  display: flex;
  justify-content: space-between;
}
/* растояние и ширина между ними */
.facts__item{
  width: 350px;
  height: 700px;
  /* position: relative; */
}
.facts__description {
  margin-top: 15px;
  color: #4a4a4a;
  text-align: center;
  font-size: 16px;
  font-weight: 300;

  width: 350px;
  background-color: #f79d9d;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%); */
}

.inventory__item {
  padding: 15px;
  background-color: aliceblue;
  color: black;
  box-shadow: 1px 2px 20px 5px #d7d7d7;
}

.inventory__list{
  display: flex;
 justify-content: center;
 gap: 200px;
}

.inventory__item{
  width: 350px;
}

.footer__question{
  text-align: center;
  background-color: #f79a0f;
}
.applications {
  position: fixed; /* позицинорование фиксированное */
  top: 0; /* Элемент будет находиться на верхней границе экрана*/
  left: 0; /* Элемент будет находиться на левой границе экрана.*/
  width: 100%;/* Ширина 100% от окна браузера */
  height: 100%;/* Высота 100% от окна браузера */
  background-color: rgba(58, 60, 65, 0.7); /*задаем фон Полупрозрачный с цветом */
  z-index: 4;
}
.application {
  position: absolute; /* позиционируется абсолютно*/
  top: 50%; /* верхняя часть смещена на 50% высоты родителя*/
  left: 50%;/*левая граница смещена на 50% ширины родителя*/
  transform: translate(-50%, -50%);/* смещаем элемент относительно его текущего положения*/
  max-width: 800px;/* Максимальная ширина окна */
  width: 100%;/* Ширина 100% от родительского элемента */
  padding: 50px 20px; /* Внутренние отступы: 50px сверху и снизу, 20px слева и справа */
  display: flex; /*Используем flexbox для выравнивания*/
  justify-content: center; /* распределяем элементы по центру*/ 
  align-items: center; /* выравнивание по вертикали */
  column-gap: 64px; /* отступы между столбцами */
  background-color: #ff702e; /*фон модального окна*/
  color: #fff; /*цвет текста*/
}
.application__title {
  font-size: 36px; /*размер шрифта для заголовков*/
}
.application__text {
  margin-top: 20px; /* Отступ сверху */
  font-size: 20px; /*размер шрифта для текста*/
}
.application__form {
  width: 500px; /*устанавливаем ширину для формы*/
  display: flex; /*Используем flexbox для выравнивания формы в строку*/
  flex-direction: column;
  row-gap: 10px; /* отступы между строками */
}
.application__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #eec0ac;
}
